
/* Styling for the details section of a selected reminder */
.Details{
    background-color: rgb(42, 111, 214);
    position: relative;
    color:white;
    border-radius: 10px;
    width: 350px;
    margin-left: 170px;
    padding: 10px;
    margin-bottom: 20px;
    border-color: aqua;
    
}
/* Styling for the details button */
.Detailsbtn{
    margin-top: -40px;
    margin-left: -65px;
    color: rgb(70, 29, 70);    
    position: absolute;
    border: 0px;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: "Arial", serif;
    border-radius: 6px;
    
    
}

/* Styling for the add reminder button */
.Addbtn{
    padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(54, 37, 180);
  text-decoration: none;
  border-radius: 10px;
  border: none;
  font-family: "Arial", serif;
  font-size: 18px;
  margin: 30px;

}


/* Styling for the add reminder button */
.Deletebtn{
    margin-top: -40px;
    margin-left: 20px;
    color: rgb(36, 21, 104);
    position: absolute;
    border: 0px;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: "Arial", serif;
    border-radius: 6px;
}

.Closebtn{

    color: rgb(58, 61, 136);    
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: "Arial", serif;
    border-radius: 6px;
    border-color: rgb(177, 225, 244);
    margin: 5px;

}

.Compbtn{

    color: rgb(46, 18, 171);    
    border-color: rgb(136, 210, 234);
    font-weight: bold;
    margin: 5px;

    background-color: rgba(255, 255, 255, 0.8);
    font-family: "Arial", serif;
    border-radius: 6px;

}

